<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
         <%= link_to "hello app", root_path, id: "logo" %>
        <nav>
  			<ul class="nav navbar-nav navbar-right">
          <li><a href="articles">Articles</a></li>
          <li><a href="users">Users</a></li>
    			<li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
    			<li><a href="#">Log in</a></li>
  			</ul>
		    </nav>
      </div>
</header>